<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">
        {% load static %}
        <title>{{ title }}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <p class="navbar-brand border-left" >News</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span
                    class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'showAllTags' %}">Tags</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'showAllAuthors' %}">Authors</a>
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <p class="nav-link">Hi {{request.user.username}}! </p>
                        {% else %}
                            <a class="nav-link" href="#">Login/Register</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% block content%}
    {% endblock content %}
    {% if page_obj %}
    {% if page_obj.has_previous or page_obj.has_next %}
    <div class="container">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% endif %}
    {% endif %}
    </body>
</html>
