{% extends "news/base.html" %}
{% block content%}

<div class="container">
    {% for item in page_obj %}
    <div class="row">
        {% if name == 'tag' %}
            <a href="{% url 'showTag' item.slug %}">{{item}}</a>
        {% endif %}
        {% if name == 'author' %}
            {% if item.name.first_name or item.name.last_name %}
            <a href="{% url 'showAuthor' item.slug %}">{{item.name.first_name}} {{item.name.last_name}}</a>
            {% else %}
            <a href="{% url 'showAuthor' item.slug %}">{{item.name.username}}</a>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock content %}